# ¿Que influyó en las muertes de pasajeros del Titanic?
 ¿La clase de pasaje? ¿La edad? ¿El costo del pasaje?

# Copie este notebook en su cuenta junto con los datos **titanic.csv** 
moodle de clase

In [ ]:
%cd <Su carpeta>

[Errno 2] No such file or directory: '<Su carpeta>'
/content

## Utilice estas librerías

In [ ]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text
import graphviz

## Lea el fichero de datos en un DataFrame de pandas **datos**

In [ ]:
datos=pd.read_csv("titanic.csv")
datos.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Investigue si hay datos erróneos o vacios con valor **Nan** y elimínelos

In [ ]:
X=datos[["Survived", "Pclass", "Age", "Fare"]].dropna()

In [ ]:
X.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

## Con los datos límpios cree el conjunto de datos de entrenamiento
- **X** con las columnas 'Pclass','Age' y 'Fare'
- **y** con la columna 'Survived'

In [ ]:
y= X["Survived"]
X= X.drop(["Survived"], axis=1)

## Cree el árbol de clasificación **Ad**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
##esto ya no haría falta porque ya lo tengo importado arriba

In [ ]:
Ad= DecisionTreeClassifier(criterion="gini",max_depth=5)
Ad= Ad.fit(X,y)

## Muestre árbol obtenido en forma de texto.

In [ ]:
r = export_text(Ad, feature_names=list(X.columns)) 
print(r)

|--- Pclass <= 2.50
|   |--- Fare <= 13.65
|   |   |--- Age <= 50.50
|   |   |   |--- Age <= 39.50
|   |   |   |   |--- Age <= 37.00
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  37.00
|   |   |   |   |   |--- class: 0
|   |   |   |--- Age >  39.50
|   |   |   |   |--- Fare <= 5.25
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  5.25
|   |   |   |   |   |--- class: 1
|   |   |--- Age >  50.50
|   |   |   |--- Age <= 60.50
|   |   |   |   |--- class: 0
|   |   |   |--- Age >  60.50
|   |   |   |   |--- Age <= 64.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Age >  64.00
|   |   |   |   |   |--- class: 0
|   |--- Fare >  13.65
|   |   |--- Age <= 42.50
|   |   |   |--- Age <= 17.50
|   |   |   |   |--- Fare <= 135.78
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  135.78
|   |   |   |   |   |--- class: 1
|   |   |   |--- Age >  17.50
|   |   |   |   |--- Pclass <= 1.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Pclass >  1.50
|   |   |   |   |   |--- class: 1
|   |   |--- Age >  42.50
|   |   |   |--- Fare <= 39.30
|   |   |   |   |--- Age <= 59.00
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  59.00
|   |   |   |   |   |--- class: 0
|   |   |   |--- Fare >  39.30
|   |   |   |   |--- Age <= 63.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Age >  63.50
|   |   |   |   |   |--- class: 0
|--- Pclass >  2.50
|   |--- Age <= 6.50
|   |   |--- Fare <= 20.83
|   |   |   |--- Fare <= 10.80
|   |   |   |   |--- Fare <= 9.49
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  9.49
|   |   |   |   |   |--- class: 0
|   |   |   |--- Fare >  10.80
|   |   |   |   |--- class: 1
|   |   |--- Fare >  20.83
|   |   |   |--- Age <= 2.50
|   |   |   |   |--- class: 0
|   |   |   |--- Age >  2.50
|   |   |   |   |--- Fare <= 31.33
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  31.33
|   |   |   |   |   |--- class: 1
|   |--- Age >  6.50
|   |   |--- Age <= 32.50
|   |   |   |--- Fare <= 51.70
|   |   |   |   |--- Fare <= 20.55
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  20.55
|   |   |   |   |   |--- class: 0
|   |   |   |--- Fare >  51.70
|   |   |   |   |--- Age <= 30.00
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  30.00
|   |   |   |   |   |--- class: 1
|   |   |--- Age >  32.50
|   |   |   |--- Fare <= 7.91
|   |   |   |   |--- class: 0
|   |   |   |--- Fare >  7.91
|   |   |   |   |--- Age <= 59.25
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  59.25
|   |   |   |   |   |--- class: 1

## Exporte el árbol obtenido a un fichero **titanic.pdf**
Utilize la libreria graphviz

In [ ]:
dot_data = tree.export_graphviz(Ad, out_file=None) 
graph = graphviz.Source(dot_data)
graph.render("Titanic")

'Titanic.pdf'

## Muestre de forma enriquecida el árbol obtenido
Utilize la libreria graphviz

In [ ]:
dot_data=tree.export_graphviz(Ad, out_file=None,
                              feature_names=X.columns,
                              class_names=["0","1"],
                              filled=True, rounded=True,
                              special_characters=True
graph= graphviz.Source(dot_data)
graph

SyntaxError: ignored

## ¿Que característas son las más influyentes o decisivas?

In [ ]:
l= list(zip(list(X.columns),Ad.feature_importances_))
print(l)

[('Pclass', 0.388683761667494), ('Age', 0.29953653776379224), ('Fare', 0.3117797005687137)]

## Realiza alguna inferencia.
Que propone para las filas 5 y 80 del Titanic.csv

In [ ]:
X.iloc[[5,80]]

     Pclass   Age     Fare
6         1  54.0  51.8625
103       3  33.0   8.6542

In [ ]:
Ad.predict(X.iloc[[5,80]].values)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1, 0])